<div class="h-screen flex flex-col opacity-0 fade-in relative">
  {{#if hasText}}
    <div class="absolute w-full h-screen flex {{position}}">
      <p class="text-5xl bg-{{color}} opacity-75 p-8 m-4">
        <div class="opacity-0">
          {{text}}
        </div>
      </p>
    </div>

    <div class="absolute w-full h-screen flex {{position}}">
      <p class="text-5xl text-white p-8 m-4">
        {{text}}
      </p>
    </div>
  {{/if}}

  <div class="flex-1 flex w-full">
    {{yield (hash
              imgix=(component 'imgix-image'
                        fit="crop"
                        crop="focalpoint"
                        loadHandler=(action "imageReady")
                        shouldPrepare=shouldPrepare))}}
  </div>
</div>
